.hidden {
  display: none;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contain {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.row-nav {
  display: flex;
}

.row-body {
  display: flex;
}

#entry-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.row-entry {
  display: flex;
  background-color: #3f72af;
  max-width: 360px;
  margin: 0 auto;
  padding: 1rem;
}

.col-img {
  display: flex;
}

.col-img > img {
  flex-basis: 0;
}

.col-full,
.col-half,
.col-third {
  width: 100%;
}

.col-full {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 770px;
  }

  .contain {
    max-width: 400px;
  }

  .col-full,
  .col-half,
  .col-third {
    padding: 0 0.75rem;
  }

  .col-half {
    width: 50%;
  }

  .col-third {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 1150px) {
  .container {
    max-width: 1140px;
  }

  .col-full,
  .col-half,
  .col-third {
    padding: 0 0.75rem;
  }

  .col-half {
    width: 50%;
  }

  .col-third {
    width: calc(100% / 3);
  }
}
