.align-right {
  margin-left: auto;
}

.margin-left {
  margin-left: 1rem;
}

.white-font {
  color: white;
}

.nav-bg {
  background-color: #112d4e;
}

.grey-bg {
  min-height: 100vh;
  background-color: #d9d9d9;
}

.entry-bg {
  background-color: #3f72af;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

h1 {
  font-weight: 700;
}

select {
  font-family: "Work Sans", sans-serif;
  border: none;
}

select:hover {
  cursor: pointer;
}

i {
  font-size: 2rem;
}

i:hover {
  cursor: pointer;
}

h2 {
  margin-top: 0;
  padding-top: 1rem;
}

p {
  font-family: Roboto, sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  width: 93px;
  height: 132px;
}

h4 {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
